
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=poll.title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/materialize/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/css/theme_light.css" />
     <link href="https://fonts.googleapis.com/css?family=<%=poll.font_family%>" rel="stylesheet">
    <style>
    html,body{
      font-family: <%=poll.font_family%>,<%=poll.font_category%>;
      background-color: <%=poll.background_color%>;
      color: <%=poll.font_color%>;
    }
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <main>
      <header>
          <h1 class="title"><%=poll.title%></h1>
          <img class="poll-img" src="/<%=poll.logo%>" alt="img">
          <!-- <div style="background: url('/<%=poll.logo%>') center center; background-size: cover"></div> -->
      </header>
      <div class="container">
          <div id="poll_content"></div>
      </div>
      <footer>
        Made with <a href="http://interpoll-app.herokuapp.com" target="_blank">Interpoll</a>
      </footer>
      <script src="/jquery/jquery.min.js"></script>
      <script src="/jqueryui/jquery-ui.min.js"></script>
      <script src="/js/themes.js"></script>
      <script src="/materialize/js/materialize.min.js"></script>
      <script src="/formbuilder/form-builder.min.js"></script>
      <script src="/formbuilder/form-render.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/chart/Chart.js"></script>
      <script>
        var isLogged=<%=userLogged%>;
      </script>
      <script src="/js/poll_live.js"></script>

    </main>
  </body>
</html>
