<% include ../partials/header %>
  <h1>Editer le sondage </h1>

  <% if(messages.success){%>
    <div class="alert alert-success">
      <%= messages.success %>
    </div>
    <%}%>
      <% if(messages.error){%>
        <div class="alert alert-error">
          <%= messages.error %>
        </div>
        <%}%>

          <div class="content">
            <form method="post" action="/polls/<%=poll.id%>?_method=PUT" enctype="multipart/form-data" class="save-all-wrap" id="form-save-all">
              <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" name="title" value="<%=poll.title%>">
              </div>
              <div class="row">


                <div class="form-group col-md-6">
                  <label for="logo">Logo</label>
                  <input type="file" id="logo" class="form-control" name="logo" value="<%=poll.logo%>">
                </div>
                <div class="form-group col-md-6">
                  <img src="/<%=poll.logo%>" class="img-thumbnail"/>
                </div>
              </div>
              <div class="form-group">
                <label for="font">Font family</label>

                <select name="font" id="font" class="form-control">
        <% if(fonts.length > 0 ){%>
          <script>let fonts = <%-JSON.stringify(fonts)%></script>
          <% fonts.forEach(function(font,index){ %>
            <%if(font.family==poll.font_family){%>
              <option selected value="<%= index %>"><%= font.family %></option>
              <%}else{%>
                <option value="<%= index %>"><%= font.family %></option>
                <%}%>
          <%});%>
          <%}%>
      </select>
                <input type="hidden" class="form-control" id="font_category" name="font_category" value="<%=poll.font_category%>">
                <input type="hidden" class="form-control" id="font_family" name="font_family" value="<%=poll.font_family%>">

              </div>
              <div class="row">


                <div class="form-group col-md-6">
                  <label for="font_color">Font color</label>
                  <input type="color" name="font_color" class="form-control" id="font_color" value="<%=poll.font_color%>">
                </div>
                <div class="form-group col-md-6">
                  <label for="background_color">Background color</label>
                  <input type="color" class="form-control" name="background_color" value="<%=poll.background_color%>">
                </div>
              </div>
              <fieldset class="form-group">
                <legend>Theme</legend>
                <% if(themes.length > 0 ){%>
                  <% themes.forEach(function(theme){ %>
                    <div class="form-check">
                      <label class="form-check-label">
                <%if(poll.fk_theme==theme.id){%>
                  <input type="radio" class="form-check-input" name="theme" id="theme-<%=theme.id%>" value="<%=theme.id%>" checked >

                  <%}else{%>
                    <input type="radio" class="form-check-input" name="theme" id="theme-<%=theme.id%>" value="<%=theme.id%>" >
                    <%}%>
<%=theme.name%>
</label>
                      <img src="<%=theme.preview%>" />
                    </div>
                    <%});%>
                      <%}%>
              </fieldset>
              <div id="form-builder-pages">
                <ul id="tabs" class="tabs-poll">
                  <li class="tab-page"><a href="#page-1">Page 1</a></li>
                  <li id="add-page-tab"><a href="#new-page">+ Page</a></li>
                </ul>
                <div id="page-1">
                  <div class="build-wrap"></div>
                </div>
                <div id="new-page"></div>
                <!-- <div class="render-wrap"></div>
    <button id="edit-form">Edit Form</button> -->
              </div>
              <form action="/polls/new" method="post" class="save-all-wrap" id="form-save-all">
                <input type="hidden" name="title" value="title">
                <input type="hidden" name="logo" value="logo">
                <input type="hidden" name="font" value="font">
                <input type="hidden" name="font_color" value="font_color">
                <input type="hidden" name="background_color" value="background_color">
                <button id="save-all" class="btn btn-primary" type="submit">Enregistrer le sondage</button>
              </form>
          </div>


          <script src="/jquery/jquery.min.js"></script>
          <script src="/jqueryui/jquery-ui.min.js"></script>
          <script src="/bootstrap/js/bootstrap.min.js"></script>
          <script src="/formbuilder/form-builder.min.js"></script>
          <script src="/formbuilder/form-render.min.js"></script>
          <script src="/socket.io/socket.io.js"></script>
          <script src="/chart/Chart.js"></script>

          <script src="/js/builder.js"></script>
          <script src="/js/formbuilderplugin.js"></script>

          <% include ../partials/footer %>
