<% include ../partials/header %>
  <div class="container">
    <h4 class="center">Editer le sondage <%=poll.title%></h4><br />

    <% if(messages.success){%>
      <div id="card-alert" class="card green lighten-5">
        <div class="card-content green-text">
          <%= messages.success %>
        </div>
      </div>
      <%}%>
        <% if(messages.error){%>
          <div id="card-alert" class="card red lighten-5">
            <div class="card-content red-text">
              <%= messages.error %>
            </div>
          </div>
          <%}%>

            <div class="content">
              <div class="row">
                <form method="post" action="/polls/<%=poll.id%>?_method=PUT" enctype="multipart/form-data" class="save-all-wrap" id="form-save-all">
                  <div class="row">
                    <div class="input-field">
                      <i class="material-icons prefix">subject</i>
                      <input type="text" class="form-control" id="title" name="title" value="<%=poll.title%>">
                      <label for="title">Titre</label>
                    </div>
                    <div class="file-field input-field">
                      <div class="col l6 m12 s12">

                        <div class="btn">
                          <i class="material-icons">library_add</i>
                          <span>Logo</span>
                          <input type="file" id="logo" class="validate" name="logo" value="">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" placeholder="Ajouter le logo de l'entreprise">
                        </div>
                      </div>
                      <div class="col l6 m12 s12">
                        <%if(poll.logo){%>
                        <img src="/<%=poll.logo%>" class="responsive-img" />
                        <%}%>
                      </div>

                    </div>

                    <div class="input-field col l6 m12 s12">
                      <select name="font" id="font">
        <% if(fonts.length > 0 ){%>
          <script>let fonts = <%-JSON.stringify(fonts)%></script>
          <option value="" disabled selected>Choisir une police</option>
          <% fonts.forEach(function(font,index){ %>
            <%if(font.family==poll.font_family){%>
              <option selected value="<%= index %>"><%= font.family %></option>
              <%}else{%>
                <option value="<%= index %>"><%= font.family %></option>
                <%}%>
          <%});%>
          <%}else{%>
            <option value="" disabled selected>Erreur lors du chargement des polices</option>

            <%}%>
      </select>
                      <input type="hidden" class="form-control" id="font_category" name="font_category" value="<%=poll.font_category%>">
                      <input type="hidden" class="form-control" id="font_family" name="font_family" value="<%=poll.font_family%>">

                    </div>
                    <div class="input-field col l3 m12 s12">
                      <div class="col m6" style="color: #9e9e9e;font-size: 1rem;">
                        Couleur de la police
                      </div>

                      <div class="col l6 m6 s6">
                        <input type="color" style="width:inherit" name="font_color" class="validate" id="font_color" value="<%=poll.font_color%>">
                      </div>
                    </div>
                    <div class="input-field col l3 m12 s12">
                      <div class="col m6" style="color: #9e9e9e;font-size: 1rem;">
                        Couleur de fond
                      </div>
                      <div class="col l6 m6 s6">
                        <input type="color" style="width:inherit" class="validate" name="background_color" value="<%=poll.background_color%>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <fieldset class="input-field col m12 s12 l12">
                      <legend>Thème</legend>
                      <% if(themes.length > 0 ){%>
                        <% themes.forEach(function(theme){ %>
                          <%if(poll.fk_theme==theme.id){%>
                            <p>
                              <input name="theme" type="radio" checked value="<%=theme.id%>" id="theme-<%=theme.id%>" />
                              <label for="theme-<%=theme.id%>">  <%=theme.name%></label>
                            </p>
                            <!-- <img class="responsive-img" src="<%=theme.preview%>" /> -->
                            <%}else{%>
                              <p>
                                <input name="theme" type="radio" value="<%=theme.id%>" id="theme-<%=theme.id%>" />
                                <label for="theme-<%=theme.id%>">  <%=theme.name%></label>
                              </p>
                              <!-- <img class="responsive-img" src="<%=theme.preview%>" /> -->
                              <%}%>

                                <%});%>
                                  <%}%>
                    </fieldset>
                  </div>
                  <div class="row">
                    <input type="hidden" class="form-control" id="form_json" name="form_json" value="<%=poll.form_json%>">
                    <div id="form-builder-pages" class="form-group col l12">
                      <ul id="tabs" class="tabs-poll">
                        <li class="tab-page"><a href="#page-1">Page 1</a></li>
                        <li id="add-page-tab"><a href="#new-page">+ Page</a></li>
                      </ul>
                      <div id="page-1">
                        <div class="build-wrap"></div>
                      </div>
                      <div id="new-page"></div>
                      <!-- <div class="render-wrap"></div>
    <button id="edit-form">Edit Form</button> -->
                    </div>
                    <button id="save-all" class="btn btn-primary" type="submit">Modifier le sondage</button>
                </form>
                </div>


                <script src="/jquery/jquery.min.js"></script>
                <script src="/materialize/js/materialize.js"></script>
                <!-- <script src="/js/init.js"></script> -->
                <script src="/jqueryui/jquery-ui.min.js"></script>
                <!-- <script src="/bootstrap/js/bootstrap.min.js"></script> -->
                <script src="/formbuilder/form-builder.min.js"></script>
                <script src="/formbuilder/form-render.min.js"></script>
                <script src="/socket.io/socket.io.js"></script>
                <script src="/chart/Chart.js"></script>

                <script src="/js/builder.js"></script>
                <script src="/js/formBuilderCharts.js"></script>
                </body>

                </html>
